/* ////////////////////////////////////////////////////
// 
//  Overall Setup
// 
//////////////////////////////////////////////////// */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ////////////////////////////////////////////////////
// 
//  Grid Setup
// 
//////////////////////////////////////////////////// */

.grid {
  height: 100%;
}

.grid__item {
  display: inline-block;
  vertical-align: top;
  border: 1px solid black;
  height: 33.33333333333%;
  text-align: center;
  width: 50%;
  background-color: white;
}

/* ////////////////////////////////////////////////////
// 
//  Selection View
// 
//////////////////////////////////////////////////// */

.full {
  color: gray;
}

.selection__list {
  display: block;
  min-height: 80%;
  width: 100%;
}

.selection__button {
  display: block;
  height: 15vh;
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  font-size: 6vh;
}

/* ////////////////////////////////////////////////////
// 
//  Lobby View
// 
//////////////////////////////////////////////////// */

.ready {
  background-color: #4CAF50;
}

.lobby__list {
  height: 66%;
  width: 100%;
}

.button__container {
  display: block;
  height: 30vh;
}

.lobby__instruction {
  font-size: 4vw;
  font-family: 'raleway', sans-serif;
  font-weight: 400;
  text-align: center;
}

.lobby__button {
  width: 100%;
  height: 10vh;
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  font-size: 6vh;
  padding: 1.25vh;
}

.button__leave {
  font-weight: 400;
}


/* ////////////////////////////////////////////////////
// 
//  Pre-Game View
// 
//////////////////////////////////////////////////// */

.trivia__description {
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  font-size: 20px;
  font-family: "raleway", sans-serif;
  font-weight: 400;
}

.trivia__title {
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-family: "raleway", sans-serif;
  font-weight: 600;
}


/* ////////////////////////////////////////////////////
// 
//  Game Round View - Question
// 
//////////////////////////////////////////////////// */

.container__question {
  position: relative;
  width: 100%;
  height: 18%;
  background-color: gray;
}

.container__question__text {
  text-align: center;
  font-family: raleway;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  padding: 10px;
  padding-top: 20px;
}

.container__question__text--sm {
  font-size: 26px;
  line-height: 26px;
}

/* ////////////////////////////////////////////////////
// 
//  Game Round View - Timer
// 
//////////////////////////////////////////////////// */

.container__timer-bar {
  height: 7%;
  position: relative;
  background: #555;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress {
  margin: 0 auto;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
  width: 100%;
  height: 100%;
}

.meter { 
  height: 100%;  /* Can be anything */
  position: relative;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

@-webkit-keyframes colorChange {  
  0% { background-color: rgb(43,194,83); }
  70% { background-color: #f1a165; }
  100% { background-color: red; }
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);

  -webkit-animation-name: colorChange;
  -moz-animation-name: colorChange;
  animation-name: colorChange;
  -webkit-animation-duration:10s;
  -moz-animation-duration:10s;
  animation-duration:10s;

  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}



/*.orange > span {
  background-color: #f1a165;
  background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}

.red > span {
  background-color: #f0a3a3;
  background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}*/

.meter > span:after, .animate > span > span {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}


@keyframes move { 0% { background-position: 0 0; } 100% { background-position: -50px -50px; } }
@-webkit-keyframes move { 0% { background-position: 0 0; } 100% { background-position: -50px -50px; } }
@-moz-keyframes move { 0% { background-position: 0 0; } 100% { background-position: -50px -50px; } }


.meter > span:after, .animate > span > span {
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  animation: move 2s linear infinite;
}


@-webkit-keyframes expandWidth { 0% { width: 0; } 100% { width: auto; } }
@-moz-keyframes expandWidth { 0% { width: 0; } 100% { width: auto; } }
@keyframes expandWidth { 0% { width: 0; } 100% { width: auto; } }



/* ////////////////////////////////////////////////////
// 
//  Game Round View - Answers
// 
//////////////////////////////////////////////////// */

.container__answers {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75%;
  background-color: gray;
}

.answer {
  display: inline-block;
  position: relative;
  /*border: 1px solid black;*/
  text-align: center;
  vertical-align: middle;
  margin: 10px;
  margin-top: 35px;
  background-color: white;
  font-size: 24px;
  line-height: 30px;
  font-family: "raleway", sans-serif;
  font-weight: 500;
}

.answer--sm {
  font-size: 20px;
  line-height: 24px;
}

.answer--locked {
  background-color: #4CAF50;
}

/* ////////////////////////////////////////////////////
// 
//  Between Rounds View
// 
//////////////////////////////////////////////////// */
.round-over__header {
  text-align: center;
  padding: 30px;
  font-size: 36px;
  font-family: "raleway", sans-serif;
  font-weight: 400;
}

.round-over__status {
  display: block;
  font-color: white;
  margin: 0 auto;
  width: 35vw;
  height: 35vw;
  text-align: center;
}

.round-over__status--correct {
  background-color: #4CAF50;
}

.round-over__status--incorrect {
  background-color: #F44336;
}

.icon-status {
  font-size: 34vw;
  color: white;
}

.round-over__label {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-family: "raleway";
  font-weight: 400;
  color: gray;
}

.round-over__question {
  text-align: center;
  padding-right: 30px;
  padding-left: 30px; 
  font-size: 26px;
  line-height: 26px;
  font-family: "raleway";
  font-weight: 400;

}

.round-over__answer {
  text-align: center;
  padding-right: 30px;
  padding-left: 30px; 
  font-size: 26px;
  line-height: 26px;
  font-family: "raleway";
  font-weight: 600;
}

.round-over__total {
  text-align: center;
  padding: 30px;
  padding-bottom: 60px;
  font-size: 100px;
  font-family: "raleway";
  font-weight: 600;
}
/* ////////////////////////////////////////////////////
// 
//  Game Over View
// 
//////////////////////////////////////////////////// */
.game-over__header {
  text-align: center;
  padding: 30px;
  font-size: 36px;
  font-family: "raleway", sans-serif;
  font-weight: 400;
}

.game-over__score {
  text-align: center;
  padding-bottom: 30px;
  font-size: 40px;
  font-family: "raleway", sans-serif;
  font-weight: 600;
}

.game-over__score-table td {
  width: 50px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

.chart-incorrect {
  font-size: 30px;
  color: #F44336;
}

.chart-correct {
  font-size: 30px;
  color: #4CAF50;
}

/*.button__quit {
  width: 70%;
  height: 200px;
}*/

/* ////////////////////////////////////////////////////
// 
//  Modal Stuff
// 
//////////////////////////////////////////////////// */

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.2s;
  -moz-animation-duration:.2s;
  animation-duration:.2s;
}

.fade-in.delay {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}
