/* ////////////////////////////////////////////////////
// 
//  Selection View
// 
//////////////////////////////////////////////////// */

$selectionBackgroundColor: $gray--verylight;
$newGameButtonColor: $red;
$lobbyCardColor1: $red;
$lobbyCardColor2: $blue;
$lobbyCardColor3: $yellow;
$lobbyCardColor4: $green;
$lobbyCardFontColor: $gray--verylight;

.full {
  color: gray; 
}

.selection__list {
  display: block;
  min-height: 80%;
  width: 100%;
}

.selection__button {
  display: block;
  height: 15vh;
  font-family: $font--default;
  font-weight: 600;
  margin: 0 auto;
}

.button__circle {
  position: absolute;
  bottom: 4%;
  right: 5%;
  height: 12vh;
  width: 12vh;
  font-size: 6vh;
  padding: 3vh;
  text-align: center;
  border-radius: 100px;
  background-color: $newGameButtonColor;
  color: #fff;
  box-shadow: $drop-shadow-2;
}

.container__card--selection {
  color: $lobbyCardFontColor;
  border-style: none;
  box-shadow: $drop-shadow-1;
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  font-family: $font--default;
  font-size: 3vh;
  font-weight: 800;
  text-shadow: $drop-shadow-1;
  padding: 20px;
  -webkit-transform: translateX(5%);
  -moz-transform: translateX(5%);
  transform: translateX(5%);
  opacity: 0;
}

.selection__background {
  background-color: $selectionBackgroundColor;
}

.lobby__card--1 {
  background-color: $lobbyCardColor1;
}
.lobby__card--2 {
  background-color: $lobbyCardColor2;
}
.lobby__card--3 {
  background-color: $lobbyCardColor3;
}
.lobby__card--4 {
  background-color: $lobbyCardColor4;
}