/* ////////////////////////////////////////////////////
// 
//  Splash View
// 
//////////////////////////////////////////////////// */

//variables:
$splash1Primary: $red;
$card1Color: $red--verylight;

$splash2Primary: $blue;
$card2Color: $blue--verylight;

$splash3Primary: $yellow;
$card3Color: $yellow--verylight;

$splash4Primary: $green;
$card4Color: $green--verylight;
$playButtonColor: $green--dark;

$splashCardTop: 33vh;


.splash {
  position: relative;
}

.splash--1 {
  background-color: $splash1Primary;
}

.splash--2 {
  background-color: $splash2Primary;
}

.splash--3 {
  background-color: $splash3Primary;
}

.splash--4 {
  background-color: $splash4Primary;
}


.container__splash {
  position: relative;
  top: 10%;
  width: 90%;
  margin: 0 auto;
  //Defined in keyframes
  font-size: $logoStartSize;
  line-height: $logoStartSize;
  -webkit-transform: translateY(30%);
  
  @include animation('liftLogo 200ms ease-out 500ms 1 forwards')
}

.text__splash,
.text__splash__top,
.text__splash__bottom {
  display: block;
  text-align: center;
  /*line-height: 30vmin;*/
  /*font-size: 30vmin;*/
  color: $green--verylight;
  font-family: $font--logo;
  font-weight: 200;
  color: white;
  text-shadow: $drop-shadow-1;
}

.text__splash__top {

}

.text__splash__bottom {
  /*text-align: right;*/
  font-weight: 400;
}

.slider-pager-page.active {
  color: white;
}

.slider-pager .slider-pager-page {
  color: white;
}

.container__card {
  position: absolute;
  padding: 7vw;
  background-color: $card1Color;
  top: $splashCardTop;
  left: 10%;
  width: 80%;
  height: 40%;
  border-radius: 0px;
  box-shadow: $drop-shadow-1;
  opacity: 0;
  text-align: center;

  @include animation('fadeInCard 100ms ease-out 800ms 1 forwards');

  span {
    $fontSize: 5.5vmin;
    padding: 1vw;
    text-align: center;
    font-family: 'raleway', sans-serif;
    font-weight: 600;
    color: $text--gray;
    font-size: $fontSize;
    line-height: $fontSize;
    border-bottom: 1.5vh;
    border-style: solid;
    border-color: $splash1Primary;
  }
  
  p {
    $fontSize: 4.5vmin;
    margin-top: 5vh;
    text-align: center;
    font-family: 'raleway', sans-serif;
    font-weight: 400;
    color: $text--darkgray;
    font-size: $fontSize;
    line-height: $fontSize + 1vmin;

  }
  p.tutorial-text {
      font-family: $font--default;
      font-size: 3vh;
      font-weight: 600;
      line-height: 4vh;
      margin-top: 2vh;
    }
}



.container__card--full {
  /* position: absolute */
  height: 85%;
  top: 5%;
}

.container__card--2 {
  /* position: absolute */
  height: 85%;
  top: 5%;
  background-color: $card2Color
}

.container__card--3 {
  /* position: absolute */
  height: 85%;
  top: 5%;
  background-color: $card3Color

}

.container__card--4 {
  /* position: absolute */
  height: 60%;
  top: 5%;
  background-color: $card4Color
}

.splash__button {
  position: absolute;
  width: 80vw;
  left: 10vw;
  height: 20vh;
  bottom: 8vh;
  box-shadow: $drop-shadow-3;
  background-color: $playButtonColor;
  color: $card4Color;
  font-family: $font--logo;
  text-align: center;
  line-height: 20vh;
  font-size: 6vh;
  text-shadow: $drop-shadow-1;
}

.container__swipe-text {
  position: absolute;
  margin: 0 auto;
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  font-size: 8vmin;
  text-align: center;
  color: $card1Color;
  bottom: 8vh;
  width: 100vw;
  opacity: 0;

  @include animation('fadeInText 100ms ease-out 1000ms 1 forwards')
}

.tutorial-image {
  width: 100%;
  box-shadow: $drop-shadow-2;
  max-height: 80%;
}

