<div class="round-over__header"> Round Over </div>
<div class="round-over__total">{{ total }}</div>
<div class="round-over__status round-over__status--correct" 
  ng-show="ownAnswerCorrect === 'correct'">
  <i class="icon ion-checkmark icon-status"></i>
</div>
<div class="round-over__status round-over__status--incorrect" 
  ng-show="ownAnswerCorrect === 'incorrect'">
  <i class="icon ion-close icon-status"></i>
</div>

<div class="round-over__label">The Correct Answer:</div>
<div class="round-over__answer">{{ correctAnswer }}</div>
<div class="round-over__label">Which Answers the Question:</div>
<div class="round-over__question">{{ question }}</div>
<div> {{ timer.displayTime }} </div>
