<!-- <ion-content scroll="true" class="selection__list"> -->
<div class="selection__background">
  <ion-scroll class="selection__list">
    <ion-list class="list">
      <ion-item class="item container__card--selection" ng-repeat="lobby in lobbies | orderBy: ['full','inGame']" 
                on-tap="lobby.full || joinLobby(lobby.id)" 
                ng-class="[{'full': lobby.full}, 'lobby__card--{{$index % 4 + 1}}']"
                ng-style="{ 'animation': 'fadeInCard 100ms ease-out {{($index + 1) * 100}}ms 1 forwards', 
                            '-webkit-animation': 'fadeInCard 100ms ease-out {{($index + 1) * 50}}ms 1 forwards',
                            '-moz-animation': 'fadeInCard 100ms ease-out {{($index + 1) * 100}}ms 1 forwards'}">
                {{lobby.roomname}} {{lobby.inGame ? '- In-game' : lobby.full ? '- Full' : '' }}
      </ion-item>
    </ion-list>
  </ion-scroll class="selection__list">
  <!-- </ion-content> -->
  <div class="button__circle ion-plus-round" on-tap="createRoom()"></div>
</div>