<ion-slide-box active-slide="myActiveSlide">
  <!-- <ion-slide-pager></ion-slide-pager> -->
  <ion-slide class="splash splash--green">
    <div class="container__splash animated">
      <div class="text__splash__top">QUIZ</div>
      <div class="text__splash__bottom">TEAM</div>
    </div>

    <div class="container__card"> 
      <h1>This Is Quiz Team</h1>
      <p>You and your friends are in for some good quiz times. Quiz team is great. Play quiz team all day. Play quiz team with your dad. Quiz team is a great time.</p>
    </div>

    <div class="container__swipe-text">
      Swipe right to continue 
    </div>
  </ion-slide>
  <ion-slide>
    <div class="splash splash--yellow"><h1>YELLOW</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="splash splash--pink"><h1>PURPLE</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="splash splash--pink"><h1>BLUE</h1></div>
  </ion-slide>
</ion-slide-box>