<ion-slide-box class="splash" active-slide="myActiveSlide">
  <!-- <ion-slide-pager></ion-slide-pager> -->
  <ion-slide>
    <div class="container__splash animated">
      <div class="text__splash__top">QUIZ</div>
      <div class="text__splash__bottom">TEAM</div>
    </div>

    <div class="container__card"> 
      <h1>Welcome!</h1>
    </div>


    <div class="container__buttons"> 
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow"><h1>YELLOW</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><h1>PURPLE</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><h1>BLUE</h1></div>
  </ion-slide>
</ion-slide-box>