<div class="container__round">
  <div class="container__question" ng-class="['player-color--' + {{playerNum}}]">
    <p class="container__question__text" ng-class="{
    'container__question__text--sm' : question.text.length > questionTextCutoff }"> 
    {{ question.text }} </p>
  </div>

  <div class="container__timer-bar">
     <div class="meter">
      <span class='timer-bar'></span>
     </div>
      <!-- <progress value="{{ timer.timeRemaining }}" max="{{timer.duration / 1000}}"></progress> -->
  </div>

  <div class="answer-grid" ng-class="['player-color--' + {{playerNum}}]">
    <div class="answer-button__container" ng-repeat="answer in answers">
      <div class="answer-button" on-touch="selectAnswer(answer.id)" 
      ng-class="[{'answer-button--pressed--{{playerNum}}' : isLockedAnswer(answer.id)}, 'answer-button--' + {{playerNum}}]" on-release="unselectAnswer(answer.id)" >
        <div class="answer-text">
           {{ answer.text }}
        </div>
      </div>
    </div>
  </div>

  <modal-dialog class='results-modal' show='modalShown'width="80%">
    <div class="round-over__team-score"> Team Score </div>
    <div class="round-over__total">{{ total }}</div>
    <div class="round-over__user-results"> Your Results </div>
    <div class="round-over__status round-over__status--correct" 
      ng-show="ownAnswerCorrect === 'correct'">
      <i class="icon ion-checkmark icon-status"></i>
    </div>
    <div class="round-over__status round-over__status--incorrect" 
      ng-show="ownAnswerCorrect === 'incorrect'">
      <i class="icon ion-close icon-status"></i>
    </div>

    <div class="round-over__label">The Correct Answer:</div>
    <div class="round-over__answer">{{ correctAnswer }}</div>
    <div class="round-over__label">Which Answers the Question:</div>
    <div class="round-over__question">{{ correctQuestion }}</div>
  </modal-dialog>

</div>


<!-- 
<script id="results-modal.html" type="text/ng-template">
  <ion-modal-view class="modal__results" style="width: 50%; height: 50%; top: 5%; left: 5%; right: 5%; bottom: 5%;">
    <h1>THIS IS A MODAL</h1>
  </ion-modal-view>
</script>
-->