<div class="container__round">
  <div class="container__question">
    <p class="container__question__text" ng-class="{
    'container__question__text--sm' : question.text.length > questionTextCutoff }"> 
    {{ question.text }} </p>
  </div>

  <div class="container__timer-bar"> 
      <progress value="{{ timer.timeRemaining }}" max="{{timer.duration / 1000}}"></progress>
  </div>

  <div class="container__answers">
    <div class="grid">
      <div class="grid__item" ng-repeat="answer in answers" on-touch="selectAnswer(answer.id)" ng-class="{'answer--locked' : isLockedAnswer(answer.id)}">
        <div class="answer" on-release="unselectAnswer(answer.id)"
           ng-class="{ 
           'answer--locked' : isLockedAnswer(answer.id),
           'answer--sm' : answer.text.length > smallTextCutoff 
           }">
           {{ answer.text }}
        </div>
      </div>
    </div>
  </div>
</div>

