/* ////////////////////////////////////////////////////
// 
//  Overall Setup
// 
//////////////////////////////////////////////////// */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* ////////////////////////////////////////////////////
// 
//  Buttons
// 
//////////////////////////////////////////////////// */
.btn {
  border: 0;
  outline: none;
  color: #666666;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 1px;
  width: 85%; }

.btn:hover {
  text-decoration: none; }

.btn--green {
  background-color: #CFD8DC; }

.button__circle {
  position: absolute;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  bottom: 2%;
  right: 5%; }

/* ////////////////////////////////////////////////////
// 
//  Grid Setup
// 
//////////////////////////////////////////////////// */
.grid {
  height: 100%; }

.grid__item {
  display: inline-block;
  vertical-align: top;
  border: 1px solid black;
  height: 33.33333333333%;
  text-align: center;
  width: 50%;
  background-color: white; }

/* ////////////////////////////////////////////////////
// 
//  Selection View
// 
//////////////////////////////////////////////////// */
.full {
  color: gray; }

.selection__list {
  display: block;
  min-height: 80%;
  width: 100%; }

.selection__button {
  display: block;
  height: 15vh;
  font-family: "raleway", sans-serif;
  font-weight: 600;
  margin: 0 auto; }

.button__circle {
  position: absolute;
  bottom: 4%;
  right: 5%;
  height: 12vh;
  width: 12vh;
  font-size: 6vh;
  padding: 3vh;
  text-align: center;
  border-radius: 100px;
  background-color: #BC5E44;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.container__card--selection {
  border-radius: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  font-family: "raleway", sans-serif;
  font-size: 4vh;
  font-weight: 400;
  padding: 20px; }

.background--yellow {
  background-color: #4CAF50; }

/* ////////////////////////////////////////////////////
// 
//  Lobby View
// 
//////////////////////////////////////////////////// */
.lobby__container {
  background-color: #B0BEC5; }

.ready {
  background-color: #4CAF50; }

.lobby__list {
  height: 66%;
  width: 100%; }

.lobby__header {
  height: 8vh;
  font-family: "raleway", sans-serif;
  padding-top: 1.5vh;
  text-align: center; }
  .lobby__header .lobby__button--back {
    position: absolute;
    z-index: 10;
    left: 4vw;
    font-size: 4vh;
    line-height: 5vh;
    font-weight: 600;
    color: #666666; }
  .lobby__header h1 {
    margin: 0;
    font-size: 4vh;
    font-weight: 600;
    color: #666666; }

.lobby__players {
  position: absolute;
  height: 40vh;
  width: 80vw;
  top: 20vh;
  left: 10vw; }
  .lobby__players .lobby__player--1 {
    color: #fff;
    display: inline-block;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    line-height: 18vh;
    font-size: 13.33333vh;
    margin: 1vh 2vw;
    height: 18vh;
    width: 36vw;
    background-color: #FFEBEE;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .lobby__players .lobby__player--2 {
    color: #fff;
    display: inline-block;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    line-height: 18vh;
    font-size: 13.33333vh;
    margin: 1vh 2vw;
    height: 18vh;
    width: 36vw;
    background-color: #FFFDE7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .lobby__players .lobby__player--3 {
    color: #fff;
    display: inline-block;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    line-height: 18vh;
    font-size: 13.33333vh;
    margin: 1vh 2vw;
    height: 18vh;
    width: 36vw;
    background-color: #E3F2FD;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .lobby__players .lobby__player--4 {
    color: #fff;
    display: inline-block;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    line-height: 18vh;
    font-size: 13.33333vh;
    margin: 1vh 2vw;
    height: 18vh;
    width: 36vw;
    background-color: #EDE7F6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.button__container {
  position: fixed;
  bottom: 0;
  display: block;
  height: 20vh;
  width: 100vw; }

.lobby__instruction {
  font-size: 4vw;
  font-family: "raleway", sans-serif;
  font-weight: 400;
  text-align: center; }

.lobby__button {
  color: #FFF;
  position: absolute;
  left: 10vw;
  width: 80vw;
  height: 10vh;
  font-family: "raleway", sans-serif;
  font-weight: 600;
  font-size: 6vh;
  line-height: 10vh;
  text-align: center;
  background-color: #BC5E44;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.button__leave {
  font-weight: 400; }

/* ////////////////////////////////////////////////////
// 
//  Pre-Game View
// 
//////////////////////////////////////////////////// */
.trivia__description {
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  font-size: 20px;
  font-family: "raleway", sans-serif;
  font-weight: 400; }

.trivia__title {
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-family: "raleway", sans-serif;
  font-weight: 600; }

/* ////////////////////////////////////////////////////
// 
//  Game Round View - Question
// 
//////////////////////////////////////////////////// */
.container__question {
  position: relative;
  width: 100%;
  height: 18%;
  background-color: gray; }

.container__question__text {
  text-align: center;
  font-family: raleway;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  padding: 10px;
  padding-top: 20px; }

.container__question__text--sm {
  font-size: 26px;
  line-height: 26px; }

/* ////////////////////////////////////////////////////
// 
//  Game Round View - Timer
// 
//////////////////////////////////////////////////// */
.container__timer-bar {
  height: 7%;
  position: relative;
  background: #555; }

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

progress {
  margin: 0 auto; }

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%; }

/* ////////////////////////////////////////////////////
// 
//  Game Round View - Answers
// 
//////////////////////////////////////////////////// */
.container__answers {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75%;
  background-color: gray; }

.answer {
  display: inline-block;
  position: relative;
  /*border: 1px solid black;*/
  text-align: center;
  vertical-align: middle;
  margin: 10px;
  margin-top: 35px;
  background-color: white;
  font-size: 24px;
  line-height: 30px;
  font-family: "raleway", sans-serif;
  font-weight: 500; }

.answer--sm {
  font-size: 20px;
  line-height: 24px; }

.answer--locked {
  background-color: #4CAF50; }

/* ////////////////////////////////////////////////////
// 
//  Between Rounds View
// 
//////////////////////////////////////////////////// */
.round-over__header {
  text-align: center;
  padding: 30px;
  font-size: 36px;
  font-family: "raleway", sans-serif;
  font-weight: 400; }

.round-over__status {
  display: block;
  font-color: white;
  margin: 0 auto;
  width: 35vw;
  height: 35vw;
  text-align: center; }

.round-over__status--correct {
  background-color: #4CAF50; }

.round-over__status--incorrect {
  background-color: #F44336; }

.icon-status {
  font-size: 34vw;
  color: white; }

.round-over__label {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-family: "raleway";
  font-weight: 400;
  color: gray; }

.round-over__question {
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 26px;
  line-height: 26px;
  font-family: "raleway";
  font-weight: 400; }

.round-over__answer {
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 26px;
  line-height: 26px;
  font-family: "raleway";
  font-weight: 600; }

.round-over__total {
  text-align: center;
  padding: 30px;
  padding-bottom: 60px;
  font-size: 100px;
  font-family: "raleway";
  font-weight: 600; }

/* ////////////////////////////////////////////////////
// 
//  Game Over View
// 
//////////////////////////////////////////////////// */
.game-over__header {
  text-align: center;
  padding: 30px;
  font-size: 36px;
  font-family: "raleway", sans-serif;
  font-weight: 400; }

.game-over__score {
  text-align: center;
  padding-bottom: 30px;
  font-size: 40px;
  font-family: "raleway", sans-serif;
  font-weight: 600; }

.game-over__score-table td {
  width: 50px;
  height: 40px;
  text-align: center;
  vertical-align: middle; }

.chart-incorrect {
  font-size: 30px;
  color: #F44336; }

.chart-correct {
  font-size: 30px;
  color: #4CAF50; }

/* ////////////////////////////////////////////////////
// 
//  Splash View
// 
//////////////////////////////////////////////////// */
.splash {
  position: relative; }

.splash--green {
  background-color: #4CAF50; }

.splash--blue {
  background-color: #4C98C6; }

.splash--purple {
  background-color: #9648BC; }

.splash--red {
  background-color: #BC5E44; }

.splash--yellow {
  background-color: #B0BEC5; }

.container__splash {
  position: relative;
  top: 10%;
  width: 90%;
  margin: 0 auto;
  -moz-animation-name: liftLogo;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -moz-animation-duration: 0.2s;
  -moz-animation-delay: 0.5s;
  -webkit-animation-name: liftLogo;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-delay: 0.5s;
  animation-name: liftLogo;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.2s;
  animation-delay: 0.5s; }

@-moz-keyframes liftLogo {
  0% {
    -moz-transform: translateY(30%);
    font-size: 30vmin;
    line-height: 30vmin; }
  100% {
    -moz-transform: translateY(-20%);
    font-size: 24vmin;
    line-height: 24vmin; } }

@-webkit-keyframes liftLogo {
  0% {
    -webkit-transform: translateY(30%);
    font-size: 30vmin;
    line-height: 30vmin; }
  100% {
    -webkit-transform: translateY(-20%);
    font-size: 24vmin;
    line-height: 24vmin; } }

@keyframes liftLogo {
  0% {
    transform: translateY(30%);
    font-size: 30vmin;
    line-height: 30vmin; }
  100% {
    transform: translateY(-20%);
    font-size: 24vmin;
    line-height: 24vmin; } }

@-moz-keyframes fadeInCard {
  0% {
    -moz-transform: translateX(5%);
    opacity: 0; }
  100% {
    -moz-transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes fadeInCard {
  0% {
    -webkit-transform: translateX(5%);
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInCard {
  0% {
    transform: translateX(5%);
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeInText {
  0% {
    opacity: 0;
    -moz-transform: translateX(5%); }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeInText {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5%); }
  100% {
    opacity: 1; } }

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateX(5%); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.text__splash,
.text__splash__top,
.text__splash__bottom {
  display: block;
  text-align: center;
  /*line-height: 30vmin;*/
  /*font-size: 30vmin;*/
  color: #E8F5E9;
  font-family: "raleway", sans-serif;
  font-weight: 200;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.text__splash__top {
  /*text-align: left;*/ }

.text__splash__bottom {
  /*text-align: right;*/
  font-weight: 400; }

.slider-pager-page.active {
  color: white; }

.slider-pager .slider-pager-page {
  color: white; }

.container__card {
  position: absolute;
  padding: 20px;
  background-color: #E8F5E9;
  top: 38vh;
  left: 10%;
  width: 80%;
  height: 40%;
  border-radius: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  opacity: 0;
  -moz-animation-name: fadeInCard;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -moz-animation-duration: .1s;
  -moz-animation-delay: .8s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-name: fadeInCard;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: .1s;
  -webkit-animation-delay: .8s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeInCard;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .1s;
  animation-delay: .8s;
  animation-fill-mode: forwards; }
  .container__card h1 {
    text-align: center;
    font-family: 'raleway', sans-serif;
    font-weight: 400;
    color: #616161;
    font-size: 8vmin;
    line-height: 8vmin; }
  .container__card p {
    margin-top: 3vh;
    text-align: center;
    font-family: 'raleway', sans-serif;
    font-weight: 400;
    color: #666666;
    font-size: 5vmin;
    line-height: 6vmin; }

.container__card--full {
  /* position: absolute */
  height: 85%;
  top: 5%; }

.container__swipe-text {
  position: absolute;
  margin: 0 auto;
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  font-size: 8vmin;
  text-align: center;
  color: #E8F5E9;
  top: 85vh;
  width: 100vw;
  opacity: 0;
  -moz-animation-name: fadeInText;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -moz-animation-duration: .1s;
  -moz-animation-delay: 1s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-name: fadeInText;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: .1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeInText;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .1s;
  animation-delay: 1s;
  animation-fill-mode: forwards; }
