/* ////////////////////////////////////////////////////
// 
//  Overall Setup
// 
//////////////////////////////////////////////////// */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/************************************************
                   liftLogo
 ************************************************/

@-webkit-keyframes liftLogo {
  0% {
    -webkit-transform: translateY(30%);
    font-size: 20vmin;
    line-height: 20vmin; }
  100% {
    -webkit-transform: translateY(-20%);
    font-size: 15vmin;
    line-height: 15vmin; } }

@keyframes liftLogo {
  0% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    font-size: 20vmin;
    line-height: 20vmin; }
  100% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    font-size: 15vmin;
    line-height: 15vmin; } }

/************************************************
                   fadeInCard
 ************************************************/

@-webkit-keyframes fadeInCard {
  0% {
    -webkit-transform: translateX(5%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    opacity: 1; } }

@keyframes fadeInCard {
  0% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    opacity: 1; } }

/************************************************
                   fadeInText
 ************************************************/

@-webkit-keyframes fadeInText {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5%); }
  100% {
    opacity: 1; } }

@keyframes fadeInText {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5%);
            transform: translateX(5%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

/************************************************
                   loading
 ************************************************/

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0.5);
    opacity: .5; }
  40% {
    -webkit-transform: scale(1);
    opacity: 1; } }

@keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: .5; }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

/* ////////////////////////////////////////////////////
// 
//  Buttons
// 
//////////////////////////////////////////////////// */
.btn {
  border: 0;
  outline: none;
  color: #666666;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 1px;
  width: 85%; }

.btn:hover {
  text-decoration: none; }

.btn--green {
  background-color: #CFD8DC; }

.button__circle {
  position: absolute;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  bottom: 2%;
  right: 5%; }

/* ////////////////////////////////////////////////////
// 
//  Grid Setup
// 
//////////////////////////////////////////////////// */
.grid {
  height: 100%; }

.grid__item {
  display: inline-block;
  vertical-align: top;
  height: 33.33333333333%;
  text-align: center;
  width: 50%;
  background-color: #AB92EB; }

/* ////////////////////////////////////////////////////
// 
//  Selection View
// 
//////////////////////////////////////////////////// */
.selection__header {
  height: 9vh;
  font-family: "raleway", sans-serif;
  padding-top: 4vh;
  text-align: center;
  margin-bottom: 1vh;
  font-size: 5vh;
  font-weight: 600;
  color: #666666;
  font-size: 5vh; }

.selection__list {
  display: block;
  min-height: 80%;
  width: 100%; }

.selection__button {
  display: block;
  height: 15vh;
  font-family: "raleway", sans-serif;
  font-weight: 600;
  margin: 0 auto; }

.button__circle {
  position: absolute;
  bottom: 4%;
  right: 5%;
  height: 12vh;
  width: 12vh;
  font-size: 6vh;
  padding: 3vh;
  text-align: center;
  border-radius: 100px;
  background-color: #FC6E51;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.container__card--selection {
  color: #EFEFEF;
  border-style: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  font-family: "raleway", sans-serif;
  font-size: 3vh;
  font-weight: 800;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px; }

.selection__background {
  background-color: #EFEFEF; }

.lobby__card--1 {
  background-color: #FC6E51; }

.lobby__card--2 {
  background-color: #3E82F7; }

.lobby__card--3 {
  background-color: #FFC107; }

.lobby__card--4 {
  background-color: #2AC054; }

.full, .inGame {
  color: #474747;
  text-shadow: none; }

.selection__reminder {
  position: absolute;
  width: 60vw;
  left: 12vw;
  bottom: 2.5vh; }
  .selection__reminder img {
    width: 100%; }

/* ////////////////////////////////////////////////////
// 
//  Lobby View
// 
//////////////////////////////////////////////////// */
.lobby__container {
  background-color: #EFEFEF; }

.lobby__list {
  height: 66%;
  width: 100%; }

.lobby__header {
  height: 8vh;
  font-family: "raleway", sans-serif;
  padding-top: 1.5vh;
  text-align: center; }
  .lobby__header .lobby__button--back {
    position: absolute;
    z-index: 10;
    left: 4vw;
    font-size: 4vh;
    line-height: 5vh;
    font-weight: 600;
    color: #666666; }
  .lobby__header h1 {
    margin: 0;
    font-size: 5vh;
    font-weight: 600;
    font-family: "raleway", sans-serif;
    color: #666666; }

.lobby__players {
  position: absolute;
  height: 40vh;
  width: 80vw;
  top: 20vh;
  left: 10vw; }
  .lobby__players .lobby__color--1 {
    color: #fff;
    display: inline-block;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    line-height: 18vh;
    font-size: 13.33333vh;
    margin: 1vh 2vw;
    height: 18vh;
    width: 36vw;
    background-color: #FFEBEE;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: 0.2s;
            transition: 0.2s; }
  .lobby__players .lobby__color--1.ready {
    background-color: #FC6E51;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .lobby__players .lobby__color--2 {
    color: #fff;
    display: inline-block;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    line-height: 18vh;
    font-size: 13.33333vh;
    margin: 1vh 2vw;
    height: 18vh;
    width: 36vw;
    background-color: #FFFDE7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: 0.2s;
            transition: 0.2s; }
  .lobby__players .lobby__color--2.ready {
    background-color: #FFC107;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .lobby__players .lobby__color--3 {
    color: #fff;
    display: inline-block;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    line-height: 18vh;
    font-size: 13.33333vh;
    margin: 1vh 2vw;
    height: 18vh;
    width: 36vw;
    background-color: #E3F2FD;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: 0.2s;
            transition: 0.2s; }
  .lobby__players .lobby__color--3.ready {
    background-color: #3E82F7;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .lobby__players .lobby__color--4 {
    color: #fff;
    display: inline-block;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    line-height: 18vh;
    font-size: 13.33333vh;
    margin: 1vh 2vw;
    height: 18vh;
    width: 36vw;
    background-color: #EDE7F6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: 0.2s;
            transition: 0.2s; }
  .lobby__players .lobby__color--4.ready {
    background-color: #AB92EB;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .lobby__players .lobby__player {
    position: absolute;
    top: 0;
    left: 0; }

.lobby__player:nth-child(1) {
  -webkit-transform: translate3d(0%, 0%, 0);
  -ms-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0); }

.lobby__player:nth-child(2) {
  -webkit-transform: translate3d(111%, 0%, 0);
  -ms-transform: translate3d(111%, 0%, 0);
  transform: translate3d(111%, 0%, 0); }

.lobby__player:nth-child(3) {
  -webkit-transform: translate3d(0%, 111%, 0);
  -ms-transform: translate3d(0%, 111%, 0);
  transform: translate3d(0%, 111%, 0); }

.lobby__player:nth-child(4) {
  -webkit-transform: translate3d(111%, 111%, 0);
  -ms-transform: translate3d(111%, 111%, 0);
  transform: translate3d(111%, 111%, 0); }

.ready:nth-child(1) {
  -webkit-transform: translate3d(0%, -2.5%, 0);
  -ms-transform: translate3d(0%, -2.5%, 0);
  transform: translate3d(0%, -2.5%, 0); }

.ready:nth-child(2) {
  -webkit-transform: translate3d(111%, -2.5%, 0);
  -ms-transform: translate3d(111%, -2.5%, 0);
  transform: translate3d(111%, -2.5%, 0); }

.ready:nth-child(3) {
  -webkit-transform: translate3d(0%, 108.5%, 0);
  -ms-transform: translate3d(0%, 108.5%, 0);
  transform: translate3d(0%, 108.5%, 0); }

.ready:nth-child(4) {
  -webkit-transform: translate3d(111%, 108.5%, 0);
  -ms-transform: translate3d(111%, 108.5%, 0);
  transform: translate3d(111%, 108.5%, 0); }

.button__container {
  position: fixed;
  bottom: 0;
  display: block;
  height: 20vh;
  width: 100vw; }

.lobby__instruction {
  font-size: 4vw;
  font-family: "raleway", sans-serif;
  font-weight: 400;
  text-align: center; }

.lobby__button {
  color: #FFF;
  position: absolute;
  left: 10vw;
  width: 80vw;
  height: 10vh;
  font-family: "raleway", sans-serif;
  font-weight: 600;
  font-size: 5vh;
  line-height: 10vh;
  text-align: center;
  background-color: #2AC054;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: 0.2s;
          transition: 0.2s; }

.lobby__button--ready {
  -webkit-transform: translateY(0.6vh);
      -ms-transform: translateY(0.6vh);
          transform: translateY(0.6vh);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.button__leave {
  font-weight: 400; }

/* ////////////////////////////////////////////////////
// 
//  ONE PLAYER MODAL
// 
//////////////////////////////////////////////////// */
.one-player-text__container {
  width: 100%;
  text-align: center;
  height: 3vh;
  line-height: 3vh; }

.one-player-text {
  font-family: "raleway", sans-serif;
  font-weight: 600;
  font-size: 3vh; }

.one-player-buttons__container {
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 1vh;
  text-align: center; }

.wait-for-others__button {
  display: inline-block;
  font-family: "raleway", sans-serif;
  background-color: #FC6E51;
  margin-right: 1vh;
  padding: 3vh 0;
  width: 55%;
  font-size: 3vh;
  font-weight: 800;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.one-player-play__button {
  display: inline-block;
  font-family: "raleway", sans-serif;
  background-color: #2AC054;
  padding: 3vh 0;
  width: 40%;
  font-size: 3vh;
  font-weight: 800;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

/* ////////////////////////////////////////////////////
// 
//  Pre-Game View
// 
//////////////////////////////////////////////////// */
.trivia__description {
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  font-size: 4vmin;
  line-height: 5vmin;
  font-family: "raleway", sans-serif;
  font-weight: 600;
  color: #FFF;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.trivia__title {
  padding-top: 50px;
  text-align: center;
  font-size: 7vmin;
  line-height: 8vmin;
  font-family: "raleway", sans-serif;
  font-weight: 400;
  color: #FFF;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.container__gameStart--1 {
  background-color: #FC6E51; }

.container__gameStart--2 {
  background-color: #FFC107; }

.container__gameStart--3 {
  background-color: #3E82F7; }

.container__gameStart--4 {
  background-color: #AB92EB; }

/* ////////////////////////////////////////////////////
// 
//  Loading View
// 
//////////////////////////////////////////////////// */
.loading__container {
  background-color: #EFEFEF;
  position: relative; }

.loading__text {
  padding: 0;
  margin: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .loading__text h1 {
    font-family: "raleway", sans-serif;
    font-size: 5vh;
    line-height: 5vh;
    text-align: center; }

.loading__spinner > div {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-right: 10px;
  background-color: #9ACC00;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.loading__spinner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center; }
  .loading__spinner .loading__bounce--1 {
    background-color: #FC6E51;
    -webkit-animation-delay: -0.48s;
    animation-delay: -0.48s; }
  .loading__spinner .loading__bounce--2 {
    background-color: #FFC107;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .loading__spinner .loading__bounce--3 {
    background-color: #3E82F7;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }
  .loading__spinner .loading__bounce--4 {
    background-color: #AB92EB;
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }

/* ////////////////////////////////////////////////////
// 
//  Game Round View - Question
// 
//////////////////////////////////////////////////// */
.container__question {
  position: relative;
  width: 100%;
  height: 18%;
  background-color: gray; }

.container__question__text {
  text-align: center;
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 5vmin;
  line-height: 6vmin;
  padding: 10px;
  padding-top: 4vh;
  color: #FFF;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.container__question__text--sm {
  font-size: 26px;
  line-height: 26px; }

/* ////////////////////////////////////////////////////
// 
//  Game Round View - Timer
// 
//////////////////////////////////////////////////// */
.container__timer-bar {
  height: 7.1%;
  position: relative;
  background: #555; }

.meter {
  height: 100%;
  /* Can be anything */
  position: relative;
  background: #555;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3); }

@-webkit-keyframes animateColor {
  0% {
    background-color: #2bc253; }
  45% {
    background-color: #2bc253; }
  70% {
    background-color: #f1a165; }
  100% {
    background-color: red; } }

@-webkit-keyframes barWidth {
  0% {
    width: 100%; }
  100% {
    width: 0%; } }

.timer-bar {
  display: block;
  height: 100%;
  width: 0%;
  background-color: #2bc253;
  background-image: -webkit-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  background-image: linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  position: relative;
  overflow: hidden; }

/* ////////////////////////////////////////////////////
// 
//  Game Round View - Answers
// 
//////////////////////////////////////////////////// */
.container__answers {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75%;
  background-color: #FC6E51; }

.answer-grid {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75%;
  background-color: #FC6E51;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 5px 10px; }

.answer-button__container {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  height: 33.3333%;
  padding: 5px 0; }

.answer-button__container:nth-child(2n - 1) {
  padding-right: 5px; }

.answer-button__container:nth-child(2n) {
  padding-left: 5px; }

.answer-text {
  display: block;
  position: relative;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 4vmin;
  line-height: 5vmin;
  color: #666666;
  font-family: "raleway", sans-serif;
  font-weight: 600; }

.answer--sm {
  font-size: 20px;
  line-height: 24px; }

.answer--locked {
  background-color: #2AC054; }

.player-color--1 {
  background-color: #FC6E51; }

.answer-button--1 {
  height: 100%;
  background-color: #FFEBEE;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: .1s;
          transition: .1s; }

.answer-button--pressed--1 {
  -webkit-transform: translate(0, 0.4vh);
  -ms-transform: translate(0, 0.4vh);
      transform: translate(0, 0.4vh);
  box-shadow: inset 0 0 3px #000000;
  background-color: #A23B2E; }
  .answer-button--pressed--1 .answer-text {
    color: #FFEBEE; }

.player-color--2 {
  background-color: #FFC107; }

.answer-button--2 {
  height: 100%;
  background-color: #FFFDE7;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: .1s;
          transition: .1s; }

.answer-button--pressed--2 {
  -webkit-transform: translate(0, 0.4vh);
  -ms-transform: translate(0, 0.4vh);
      transform: translate(0, 0.4vh);
  box-shadow: inset 0 0 3px #000000;
  background-color: #885E00; }
  .answer-button--pressed--2 .answer-text {
    color: #FFFDE7; }

.player-color--3 {
  background-color: #3E82F7; }

.answer-button--3 {
  height: 100%;
  background-color: #E3F2FD;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: .1s;
          transition: .1s; }

.answer-button--pressed--3 {
  -webkit-transform: translate(0, 0.4vh);
  -ms-transform: translate(0, 0.4vh);
      transform: translate(0, 0.4vh);
  box-shadow: inset 0 0 3px #000000;
  background-color: #2E3C50; }
  .answer-button--pressed--3 .answer-text {
    color: #E3F2FD; }

.player-color--4 {
  background-color: #AB92EB; }

.answer-button--4 {
  height: 100%;
  background-color: #EDE7F6;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: .1s;
          transition: .1s; }

.answer-button--pressed--4 {
  -webkit-transform: translate(0, 0.4vh);
  -ms-transform: translate(0, 0.4vh);
      transform: translate(0, 0.4vh);
  box-shadow: inset 0 0 3px #000000;
  background-color: #3A3550; }
  .answer-button--pressed--4 .answer-text {
    color: #EDE7F6; }

/* ////////////////////////////////////////////////////
// 
//  Modal Body
// 
//////////////////////////////////////////////////// */
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6; }

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index: 10000;
  position: absolute;
  width: 50%;
  /* Default */
  /* Center the dialog */
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000; }

.ng-modal-dialog-content {
  padding: 10px;
  text-align: left; }

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif'; }

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-fill-mode: forwards;
  -webkit-animation-duration: .2s;
  animation-duration: .2s; }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fade-out {
  opacity: 1;
  /* make things invisible upon start */
  -webkit-animation: fadeOut ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation: fadeOut ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-fill-mode: forwards;
  -webkit-animation-duration: .35s;
  animation-duration: .35s; }

/* ////////////////////////////////////////////////////
// 
//  Results Modal Content
// 
//////////////////////////////////////////////////// */
.round-over__team-score {
  margin-top: .4vh;
  text-align: center;
  padding: 2vh;
  padding-bottom: .5vh;
  font-size: 4.5vh;
  font-family: "raleway", sans-serif;
  font-weight: 400; }

.round-over__user-results {
  text-align: center;
  padding: 2.8vh;
  font-size: 4.5vh;
  font-family: "raleway", sans-serif;
  font-weight: 400; }

.round-over__status {
  display: block;
  font-color: white;
  margin: 0 auto;
  width: 19.7vh;
  height: 19.7vh;
  text-align: center; }

.round-over__status--correct {
  background-color: #4CAF50; }

.round-over__status--incorrect {
  background-color: #F44336; }

.icon-status {
  font-size: 19.1vh;
  color: white; }

.round-over__label {
  text-align: center;
  padding: 1.7vh;
  font-size: 3vh;
  font-family: "raleway";
  font-weight: 400;
  color: gray; }

.round-over__question {
  text-align: center;
  padding-right: 2.8vh;
  padding-left: 2.8vh;
  padding-bottom: 3vh;
  font-size: 3.4vh;
  line-height: 3.4vh;
  font-family: "raleway";
  font-weight: 400; }

.round-over__answer {
  text-align: center;
  padding-right: 2.8vh;
  padding-left: 2.8vh;
  font-size: 3.4vh;
  line-height: 3.4vh;
  font-family: "raleway";
  font-weight: 400; }

.round-over__total {
  text-align: center;
  padding: 2.8vh;
  padding-bottom: 1vh;
  font-size: 6vh;
  font-family: "raleway";
  font-weight: 600; }

/* ////////////////////////////////////////////////////
// 
//  Game Over View
// 
//////////////////////////////////////////////////// */
.game-over__screen {
  background-color: #3E82F7; }

.game-over__header {
  text-align: center;
  padding: 3vh;
  font-size: 10vh;
  line-height: 10vh;
  font-family: "raleway", sans-serif;
  font-weight: 400;
  color: #E3F2FD; }

.game-over__score {
  text-align: center;
  padding-bottom: 30px;
  font-size: 40px;
  font-family: "raleway", sans-serif;
  font-weight: 600;
  color: #E3F2FD; }

.game-over__container {
  text-align: center; }

.game-over__score-table {
  display: inline-block;
  padding: 2vmin;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #E3F2FD; }

.game-over__score-table td {
  width: 6vw;
  height: 5vh;
  text-align: center;
  vertical-align: middle; }

.chart-incorrect {
  font-size: 4vh;
  color: #F44336; }

.chart-correct {
  font-size: 4vh;
  color: #4CAF50; }

.game-over__button__container {
  position: fixed;
  bottom: 0;
  display: block;
  height: 20vh;
  width: 100vw; }

.game-over__button {
  margin: 0 auto;
  width: 80vw;
  height: 8vh;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  background-color: #E3F2FD;
  font-family: "raleway", sans-serif;
  font-weight: 400;
  font-size: 4vh;
  line-height: 6vh;
  margin-bottom: 2vh;
  padding: 1vh; }

/* ////////////////////////////////////////////////////
// 
//  Splash View
// 
//////////////////////////////////////////////////// */
.splash {
  position: relative; }

.splash--1 {
  background-color: #FC6E51; }

.splash--2 {
  background-color: #3E82F7; }

.splash--3 {
  background-color: #FFC107; }

.splash--4 {
  background-color: #2AC054; }

.container__splash {
  position: relative;
  top: 10%;
  width: 90%;
  margin: 0 auto;
  font-size: 20vmin;
  line-height: 20vmin;
  -webkit-transform: translateY(30%);
  -webkit-animation: liftLogo 200ms ease-out 500ms 1 forwards;
  animation: liftLogo 200ms ease-out 500ms 1 forwards; }

.text__splash,
.text__splash__top,
.text__splash__bottom {
  display: block;
  text-align: center;
  /*line-height: 30vmin;*/
  /*font-size: 30vmin;*/
  color: #E8F5E9;
  font-family: "bevan", sans-serif;
  font-weight: 200;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.text__splash__bottom {
  /*text-align: right;*/
  font-weight: 400; }

.slider-pager-page.active {
  color: white; }

.slider-pager .slider-pager-page {
  color: white; }

.container__card {
  position: absolute;
  padding: 7vw;
  background-color: #FFEBEE;
  top: 33vh;
  left: 10%;
  width: 80%;
  border-radius: 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  opacity: 0;
  text-align: center;
  -webkit-animation: fadeInCard 100ms ease-out 800ms 1 forwards;
  animation: fadeInCard 100ms ease-out 800ms 1 forwards; }
  .container__card span {
    padding: 1vw;
    text-align: center;
    font-family: 'raleway', sans-serif;
    font-weight: 600;
    color: #616161;
    font-size: 5.5vmin;
    line-height: 5.5vmin;
    border-bottom: 1.5vh;
    border-style: solid;
    border-color: #FC6E51; }
  .container__card p {
    margin-top: 5vh;
    text-align: center;
    font-family: 'raleway', sans-serif;
    font-weight: 400;
    color: #666666;
    font-size: 4.5vmin;
    line-height: 5.5vmin; }
  .container__card p.tutorial-text {
    font-family: "raleway", sans-serif;
    font-size: 3vh;
    font-weight: 600;
    line-height: 4vh;
    margin-top: 2vh; }

.container__card--full {
  /* position: absolute */
  height: 85%;
  top: 5%; }

.container__card--2 {
  /* position: absolute */
  height: 85%;
  top: 5%;
  background-color: #E3F2FD; }

.container__card--3 {
  /* position: absolute */
  height: 85%;
  top: 5%;
  background-color: #FFFDE7; }

.container__card--4 {
  /* position: absolute */
  height: 60%;
  top: 5%;
  background-color: #E8F5E9; }

.splash__button {
  position: absolute;
  width: 80vw;
  left: 10vw;
  height: 20vh;
  bottom: 8vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #263F2B;
  color: #E8F5E9;
  font-family: "bevan", sans-serif;
  text-align: center;
  line-height: 20vh;
  font-size: 6vh;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.container__swipe-text {
  position: absolute;
  margin: 0 auto;
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  font-size: 8vmin;
  text-align: center;
  color: #FFEBEE;
  bottom: 10vh;
  width: 100vw;
  opacity: 0;
  -webkit-animation: fadeInText 100ms ease-out 1000ms 1 forwards;
  animation: fadeInText 100ms ease-out 1000ms 1 forwards; }

.tutorial-image {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  max-height: 80%; }

.slider {
  background-color: #000; }
