<div class="lobby__container">  
  <div class="lobby__header">
    <div on-tap="leaveLobby()" class="ion-arrow-left-c lobby__button--back"></div>
    <h1>{{lobby.roomname}}</h1>
  </div>

  <div class="lobby__players">
    <div class="lobby__player" ng-class="[{ready: player.ready}, 'lobby__player--' + {{player.number}}]" ng-repeat="player in players track by player.number">{{player.number}}</div>
  </div>

  <div class="button__container">

    <div class="lobby__button" ng-class="{'lobby__button--ready': isReady}"
         on-touch="readyOn()" on-release="readyOff()">
      HOLD READY
    </div>
  </div>
  <modal-dialog class='one-player-modal' show='modalShown'width="85%">
    <div class="one-player-text__container">
      <span class="one-player-text">Play a one player game?</span>
    </div>
    <div class="one-player-buttons__container">
      <div class="wait-for-others__button" on-touch="waitForOthers()">Wait for friends</div>
      <div class="one-player-play__button" on-touch="playOnePlayer()">Play now</div>
    </div>

  </modal-dialog>
</div>