<div class="lobby__container">  
  <div class="lobby__header">
    <div on-tap="leaveLobby()" class="ion-arrow-left-c lobby__button--back"></div>
    <h1>{{lobby.roomname}}</h1>
  </div>

  <div class="lobby__players">
    <div class="lobby__player" ng-class="[{ready: player.ready}, 'lobby__player--' + {{$index + 1}}]" ng-repeat="player in players track by $index">{{$index + 1}}</div>
  </div>

  <div class="button__container">

    <p class="lobby__instruction">Hold READY when all players have joined the lobby.</p>
    
    <div class="lobby__button" ng-class="{'lobby__button--ready': isReady}"
         on-touch="readyOn()" on-release="readyOff()">
      <!-- {{lobby.players.length < 2 ? 'Waiting for another player...' : 'READY'}} -->
      READY
    </div>
  </div>
</div>